
.project-container {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 11px;
}

article.project {
    background-color: white;
    padding: 2vh;
}

.cta-section form{
    background-color: #FFC600;
    height: fit-content;
    text-align: center;
    padding: 5vw;

}

form img {
    width:3vh;
}

input {
    background-color: var(--white);
    border-style: none;
    font-size: 2vw;
    padding: 1vw;
}

h5 {
    font-size: small;
    color: black;
}

form p{
    font-size: 2vw;
    color: black;

}