.hero-section {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    article.hero-content { grid-area: 1 / 1 / 5 / 3 !important; }
    div.hero-cards { grid-area: 1 / 3 / 5 / 5 !important; }
    div.card1 { grid-area: 1 / 3 / 2 / 4 !important; }
    div.card2 { grid-area: 4 / 4 / 5 / 5 !important; }

img.card1 {
    background: transparent;
    position: absolute;
    z-index: 1;
    height: auto;
    width: 28%;
}

img.card2 {
    background: transparent;
    position: absolute;
    height: auto;
    z-index: 1;
    width: 26%;
    top: 68%;
    left: 77%;
}

.hero-txt {
    margin: 4vh 0;
}

p.hero-txt {
    font-size: 3vh;
    margin-right: 20%;
}

.hero-img {
    object-fit: scale-down;
    position: absolute;
    top: 19vh;
    right: 4vw;
    width: 40vw;
    height: 80vh;
    z-index: 0;
}

.hero-btns {
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
}

.client-section {
    height:fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.black-and-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 10vh;
}

.project-container {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 11px;
}

article.project {
    background-color: white;
    padding: 2vh;
}

.testimonial-section {
    background-color: #292E47;
    position: relative;     
}

.testimonial-section * {
    background-color: transparent;       
}

.content-container {
    display: flex;
    padding: 8vw;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;  
}

blockquote {
    color: var(--yellow);
    text-align: center;
    font-size: 1vw;
    line-height: 6vh;
    grid-area: 3 / 2 / 4 / 5;     
}

.white {
    color: var(--white);
    grid-area: 2 / 2 / 3 / 5;
    font-size: 2vw;
}

.emojicontainer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.emoji-1 {
    grid-area: 2 / 1 / 2 / 2;
    
}

.emoji-2 {
    grid-area: 2 / 5 / 2 / 6;
    
} 

.emoji-3 {    
    grid-area: 4 / 1 / 6 / 2;
}

.emoji-4 {    
    grid-area: 4 / 5 / 6 / 6;
}


.client-info {
    grid-area: 4 / 2 / 5 / 5;    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.client-img img {
    border-radius: 50%;
    width: 10.8vh;
    height: 9vh;
    margin: 2vh 1vw;
}


.services-container {
    margin-left: 1vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
}

.serv1 {
    grid-area: 1 / 1 / 4 / 2;
    background-color: white;
    
} 

.emoji-3 {    
    grid-area: 4 / 1 / 6 / 2;
}

.emoji-4 {    
    grid-area: 4 / 5 / 6 / 6;
}

.serv2 {
    grid-area: 1 / 2 / 4 / 3;
    background-color: white;
}

.serv3 {
    grid-area: 1 / 3 / 4 / 4;
    background-color: white;
}

article.service * {
    background-color: white;
    color: black;
}

.icon-container img {    
    background-color: var(--blue1);
    border-radius: 24%;
    width: 22%;
    height: 2%;
    position: relative;
    left: 0vh;
    top: 0vh;
    object-fit: scale-down;
}

article.service {
    padding: 5vh;
}

.cta-section form{
    background-color: #FFC600;
    height: fit-content;
    text-align: center;
    padding: 5vw;

}

form img {
    width:3vh;
}

input {
    background-color: var(--white);
    border-style: none;
    font-size: 2vw;
    padding: 1vw;
}

h5 {
    font-size: small;
    color: black;
}

form p{
    font-size: 2vw;
    color: black;
}


.hero-txt {
    margin-right: 20%;
}

.hero-btns {
    width: 21vw;
}

.emoji {
    width: 16vh;
    margin: 4vh 0vh 4vh 8vh;
}





@media screen and (max-width: 400px) {

    .hero-section {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }

    img.card1 {
        background: transparent;
        position: relative;
        z-index: 1;
        height: auto;
        width: 74%;
        top: 0%;
        right: 17%;
    }

    img.card2 {
        background: transparent;
        position: relative;
        z-index: 1;
        height: auto;
        width: 74%;
        top: 0%;
        left: 44%;

    }

    p.hero-txt {
        font-size: 2.5vw;
        line-height: 3vh;
        margin: 2vh 25px 2vh 0px;
    }

    .hero-btns {
    width: 100%;
    font-weight: 500;
    }

    a {
        font-size: 2vw;
        /* margin-right: 20%; */
    }

    .black-and-white {
        width: 5vh;
    }

    .client-section {
        margin: 3vh 8vw;
    }

    blockquote {
        font-size: 2vw;
        line-height: 2vh;
    }

    h3 {
        font-size: 4vw;
    }

    article.service {
        padding: 1vh;
    }

    .emoji {
        width: 7vh;
        margin: 0vh 0vh 0vh 0vh;
    }

    .client-img img {
        border-radius: 50%;
        width: 4.8vh;
        height: 4vh;
        margin: 2vh 1vw;
    }

}




